<audio src="{{ asset('sounds/sweet_home_chicago.mp3')}}" autoplay loop></audio>
<div class="row">
    <div id="questions" class="col-md-3 game-aside-info">
        <div class="panel panel-default">
            <div class="panel-heading">La Question</div>
            <div class="panel-body">
                {% if board.question %}
                    <div id="the-question">

                        <strong>{{ board.question.wording }}</strong><br/><br/>

                    </div>
                    {% for reply in board.question.replies %}
                        <div id="responses">
                            <div class="answer alert-info" data-id-question="{{ reply.question.id }}" data-id-reply="{{ reply.id }}">
                                {{ reply.wording }}<br/>
                            </div><br/>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="plateau" class="col-md-6" style="position:relative;" >
        {# Creation of the view board with the corresponding number inside#}
        <div id="plateau-overlay"></div>
        <BR>
        <table class="table table-bordered">
            <tr>
                {% for value in board.cells %}
                    {% if loop.index0 % 8 == 0 and loop.index0 != 0 %}
                    </tr><tr>
                    {% endif %}

                    {% if value.level == 0 %}
                        {% set background = 'orange' %}
                    {% elseif value.level  == 1 %}
                        {% set background = '#36A100' %}
                    {% elseif value.level  == 2 %}
                        {% set background = '#E91700' %}
                    {% endif %}

                    <td style="background: {{ background }}; opacity:1;" id="{{value.num}}">
                        <div class="cell-overlay">
                            {{ value.num }}
                        </div>
                        <div class="cell-overlay">
                            {% if value.level == 0 %}
                                {% set image = asset('images/easy.png') %}
                            {% elseif value.level  == 1 %}
                                {% set image = asset('images/medium.png') %}
                            {% elseif value.level  == 2 %}
                                {% set image = asset('images/hard.png') %}
                            {% endif %}
                            <img src="{{ image }}" height="" width="">
                        </div>
                        <div>
                            {% for pawn in value.pawns %}
                                <span class="glyphicon glyphicon-user" style="color:{{pawn.pawnColor}}"></span>
                            {% endfor %}
                        </div>

                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div id="reponses" class="col-md-3 game-aside-info">
        <div class="panel panel-default">
            <div class="panel-heading">Commentaires</div>
            <div id="comments" class="panel-body">
                {% for msg in board.messagesToPlayers %}
                    {{ msg | raw }}<br /><br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="partie" class="col-md-3">
        <h5>Partie de {{ nameGame }}</h5>

    </div>

    <div id="joueurs" class="col-md-6">
        {% for pawn in board.pawns %}
            <div class="players_info_turn {% if loop.index0 == board.playerTurn%}active{% endif %}">
                <div class=" panel panel-danger text-center" >
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user" style="color:{{pawn.pawnColor}}"></span>
                    </div>
                    <div class="panel-body row">
                        <img id="img_logo" src="{{ asset('uploads/' ~ pawn.user.icone)}}" alt="logo" title="logo Player" />
                        <p>{{pawn.user.pseudo}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="de" class="col-md-3">
        {# DES Cliquable si pas de reponse en attente && Joueur Session est le joueura joué &&  que la partie est in-process (sinon des=NULL}#}
        {% if ((board.question == null)  and (game.status == 'in-process') and (board.pawns[board.playerTurn].user.id == app.session.get('oUser').id)) %}
            <img id="the-dice" src="{{ asset('images/dice_.gif') }}" alt="{{board.dice}}"/>
        {% else %}
            <img src="{{ asset('images/dice_' ~ board.dice ~ '.gif') }}" alt="{{board.dice}}"/>
        {% endif %}
    </div>


    {#    gestion de la fin de la partie#}
    {% if bEndGame == 1 %}
        <!-- Modal --> <!-- Popup Bootstrap bien fait, pratique -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel">Fin de partie</h4>
                    </div>
                    <div class="modal-body">
                        <H2> Partie terminée ! </H2>
                            {#                        board.cells[7] coorespond à la case twig 63#}
                            {#                        pawns[1] On ne sais pas pourquoi le tableau commence à 1 et non 0#}
                        <H3> Bien joué {{ board.cells[7].pawns[0].user.firstname }} ! Tu es super Fort(e)! Tu as gagné la partie !!!</H3>
                        <HR>
                        Que voulez vous faire ?
                        <BR><BR>
                        <div class="center">
                            <a href="{{path('home')}}"<button type="button" class="btn btn-primary">Rejouer une partie</button></a>&nbsp;&nbsp;&nbsp;&nbsp;  <!--  app.request.getBasePath()  est une fonction twig pour indiquer la page d'acceuil du site -->
                            &nbsp;&nbsp;<a href="http://www.yahoo.fr"><button type="button" class="btn btn-danger">Quitter le plateau de jeu</button></a>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script> $('#myModal').modal('show')</script> <!-- on affiche la fenêtre popup Bootstrap avec Jquery au chargement de la page si la partie est terminée, sinon il faudrait mettre un bouton bootstrap-->
    {% endif %}
    {#    gestion du status de la partie#}

    {% if sStatusGame == 'waiting' %}
        <!-- Modal --> <!-- Popup Bootstrap bien fait, pratique -->
        <div class="modal fade" id="StatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"> Partie en attente de Joueur !</h4>
                    </div>
                    <div class="modal-body">
                        <H4>il y a actuellement {{game.players | length}} joueurs dans cette partie. </H4>
                        <H4> Il manque encore {{game.nbPlayerMax - game.players | length}} joueurs pour que la partie commence</H4>
                        <HR>
                        <BR><BR>
                        {# Si le user en cours est celui qui a créé la session alors on affiche :#}
                        <div class="center">
                            {% if app.session.get('oUser').id == game.gameCreator.id %}
                                <a href="{{path('changeNbPlayerMax',{'iGame': game.id, 'newNbPlayerMax' : game.players | length} ) }}">
                                    <button type="button" class="btn btn-primary">Lancer quand-même la partie</button>
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}

                            <a href="{{path('leaveGame',{'iGame': game.id})}}">
                                <button type="button" class="btn btn-danger">Sortir du jeu</button>
                            </a>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
    <script> $('#StatusModal').modal('show')</script> <!-- on affiche la fenêtre popup Bootstrap avec Jquery au chargement de la page si la partie est terminée, sinon il faudrait mettre un bouton bootstrap-->

</div>

