<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img id="logo" src="{{ asset('images/logo.jpg')}}" alt="logo" title="Mon projet web" />
            <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
            <a class="navbar-brand" href="{{path('home')}}">Le Super Jeu de L'oie</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class='active'><a href="{{path('home')}}">Accueil</a></li>
                <li><a href="{{path('rules')}}">Règles du Jeu</a></li>

                {% if app.session.get('oUser') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jouer <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('createParty')}}">Créer une partie</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{path('joinParty')}}">Rejoindre une partie</a></li>
                        </ul>
                    </li>
                    Bonjour {{ app.session.get('oUser').emailLogin }} vous êtes connecté(e) !

                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>

                {% else %}
                    {{ render( controller('AppBundle:User:login') ) }}
                    <br/>
                    <li><a href="{{ path('user_register') }}">S'inscrire pour jouer</a></li>

                {% endif %}
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
